a{
    color: black;
    &:active{
        transform: scale(.98);
    }
}

.videoCard{
    cursor: pointer;
    width: 275px;

    & .videoCard_thumbnailContainer{
        text-align: center;  
        height: 155px;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        overflow: hidden;
        

        & .videoCard_thumbnail{
            width: 100%;     
        }
    }

    & .videoCard_videoDataContainer{
        display: flex;
        margin-top: .5em;
                
        & .videoCard_avatar{
            margin-right: 10px;
            margin-top: 8px;
        }

        & .videoCard_videoData{
            & .title{
                font-weight: bold;
                font-size: 16px;
                line-height: 2.2rem;
                max-height: 4.4rem;
            
            }
            & .author{
                font-weight: 500;
                font-size: 14px;
                color: rgb(133, 133, 133);
            }

            & .videoCard_videoStats{
                display: flex;
                align-items: center;

                & .views, .date{
                    font-weight: 500;
                    font-size: 14px;
                    color: rgb(133, 133, 133);
                }
            
            }
        }
    }
}



// @media only screen and (max-width: 1320px) {
//     .videoCard{
//         & .videoCard_videoDataContainer{
//             display: block;
//             & .videoCard_avatar{
//                 display: none;
//             }
//             & .videoCard_videoData{
//                 & .videoCard_videoStats{
//                     display: none;
//                 }
//             }
            
//         }
        
//     }
//}
@media only screen and (max-width: 800px) {
    .videoCard{
        & .videoCard_thumbnailContainer{
            box-shadow: none;
            display: inline;
            background-color: white;
        }
        & .videoCard_videoDataContainer{
            align-items: center;
            margin-left: 10px;
            margin-top: 0;
            & .videoCard_videoData{
                & .author{
                    &:after{
                        content: " •  "
                    }
                }
                & .mobile_media_design{
                    display: flex;
                }
                & .videoCard_videoStats{
                    & .views{
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}