.videoSidecard{
    cursor: pointer;
    display: flex;
}



.videoSidecard__videoStats{
    display: flex;
    align-items: center;

    &> h2{
        font-weight: 500;
        font-size: .8rem;
        color: rgb(133, 133, 133);
    }
}

.videoSidecard__videoData{ 
    & > h2{        
        font-weight: 500;
        font-size: .8rem;
        color: rgb(133, 133, 133);
    }
    & > h1{
        font-weight: 500;
        font-size: 1rem;
    }
}



.videoSidecard__thumbnail{
    width: 100%;
}
.videoSidecard__thumbnailContainer{
    text-align: center;
    height: 99px;
    width: 170px;
    background-color: rgb(0, 0, 0);
    margin-right: 10px;

}
.videoSidecard__videoDataContaine{
    vertical-align: text-top;
}

.videoSidecard__videoDataContainer{
    vertical-align: top;
}

@media only screen and (max-width: 1600px) {
    .videoSidecard__videoStats{
        display: block;        
    }
}

@media only screen and (max-width: 1600px) {
    .videoSidecard{
        display: inline-block;
        width: 170px;
    }
}