.commentCard{
    display: flex;
    margin-top: 50px;

    & .nest{
        margin-top: 20px;
    }
}
.hide{
    display: none;
}


.avatar{
    &.nest{
        width: 24px;
        height: 24px;
        margin-top: 0;
    }
}
.authorInfo{
    font-size: 13px;
    margin-bottom: 10px;
}

.comment{
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 59em;
    word-wrap: break-word;
    
}
.textContainer{
    margin-left: 15px;
    &>h1{
        color: blue;
        font-weight: 500;
        font-size: 15px;
        margin-top: 10px;
        cursor: pointer;
    }
}

.likeDislikesContainer{
    font-size: 15px;
    display: flex;
    

    & > span{
        color: grey;
        font-weight: 700;
        cursor: pointer;
        margin-left: 10px;
    }
}

.likeIcon{
    font-size: 20px !important;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}