.commentCard{
    display: flex;
    margin-top: 30px;

    & .commentCard_nest{
        margin-top: 5px;
        margin-left : 3em;
    }

    & .commentCard_newComment{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        &.hidden{
            display: none;
        }
        & .commentCard_replyAvatar{
            width: 24px;
            height: 24px;
            margin-top: 0;
        }
        & input{
            margin-left: 10px;
            flex: 1;
            border: none;
            background-color: ghostwhite;
            border-bottom: 1px solid lightgray;
            padding: 0;
            height: 30px;
            transition: .5s;
            transition-property: border-bottom;
            &:focus{
                outline: none;
                border-bottom: 1px solid black;
            }
        }
    }
    & .commentCard_newCommentButton{
        margin-top: 5px;
        display: flex;
        flex: 1 1 100%;
        justify-content: flex-end;
        
        & > button{
            width: 100px;
            height: 36px;
        }
        & .commentCard_cancelComment{
            border: none;
            background-color: ghostwhite;
            font-size: 14px;
            font-weight: 600;
            color: gray;
            &:focus{
                transform: scale(.9);
                outline: none;
            }
        }
        & .commentCard_submitComment{
            color: white;
            font-size: 16px;
            font-weight: 700;
            background-color: rgb(0, 81, 255);
            border: none;
            border-radius: 2px;
            &.disabled{
                background-color: lightgrey;
            }
        }
    }
}


.commentCard_hide{
    display: none;
}


.commentCard_avatar{
    &.commentCard_nest{
        width: 24px;
        height: 24px;
        margin-top: 0;
    }
}
.commentCard_authorInfo{
    font-size: 13px;
    margin-bottom: 10px;
}

.commentCard_comment{
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 59em;
    word-wrap: break-word;
    
}
.commentCard_textContainer{
    margin-left: 15px;
    width: 100%;
    
}

.commentCard_likeDislikesContainer{
    font-size: 15px;
    display: flex;
    

    & > span{
        color: grey;
        font-weight: 700;
        cursor: pointer;
        margin-right: 10px;
    }
}

.commentCard_likeIcon{
    font-size: 20px !important;
    cursor: pointer;
    margin-right: 10px;
}