.sidebarRow{
    display: flex;
    align-items: center;
    color: rgb(54, 54, 54);
    padding: 5px 20px ;
}
.sidebarRow:hover{
    background-color: rgba(211, 211, 211, 0.3);
    cursor: pointer;
}
.sidebarRow:hover > .sidebarRow__title{
    font-weight: 500;
}
.sidebarRow__icon{
    font-size: larger;
    color: rgb(87, 87, 87);
}

.sidebarRow__title{
    flex: 1;
    font-size: 15px;
    font-weight: 300;
    margin-left: 20px;
}

.sidebarRow.selected{
    background-color: lightgray;
}