.sidebarRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(54, 54, 54);
    padding: 20px 10px ;

    &.expanded{
        padding: 10px 10px;
        flex-direction: row;
        padding-left: 25px;
        & .sidebarRow_icon{
            font-size: 23px;
        }
        & > h2{
            padding-bottom: 5px;
            padding-left: 20px;
            font-size: 13px;
            font-weight: 700;
        }
    }

    &:hover{
        background-color: rgba(211, 211, 211, 0.3);
        cursor: pointer;

        & > .sidebarRow_title{
            font-weight: 500;
        }
    }

    & .sidebarRow_title{
        flex: 1;
        margin-top: 5px;
        font-size: 10px;
        font-weight: 400;
    }

    & .sidebarRow_icon{
    font-size: 23px;
    color: rgb(87, 87, 87);
    }

    &.sidebarRow_selected{
        & .sidebarRow_icon{
            color: red;
        }
    }
}



