.header {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100%;
}
.header__logo{
    height: 24px;
    width: 80px;
    object-fit: contain;
    margin-left: 20px;
    cursor: pointer;
}

.header__input{
    display: flex;
    align-items: center;
    width: 30%;
    border: 1px solid rgba(128, 128, 128, 0.425);

    &:focus{
        outline: none;
    }

    &>input{
        flex: 1;
        border: none;
        padding-left: 10px;
    }
}

.header__icons{
    display: flex;
    align-items: center;
    position: relative;
    margin: 3px;
    
}
.header__icon{
    margin-right: 30px;
    cursor: pointer;
    max-height: 35px;
    max-width: 35px;
    padding: 10px;
}
.header__menuIcon{
    color: grey;
}

.header__loginText{
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;
    max-height: 35px;
    padding: 10px 15px;

    &:hover{
        transition-duration: 0.5s;
        transition-property: background-color;
        background-color:rgb(207, 207, 207);
        border-radius: 10px;
    }
    &:active{
        color: white;
    }
}


.header__inputButton{
    width: 50px !important;
    height: 20px !important;
    padding: 5px;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: grey;
}


.header__uploadVideo{
    border-radius: 50%;
    &:hover{
        transition-duration: 0.5s;
        transition-property: background-color;
        background-color:rgb(207, 207, 207);
        border-radius: 50%;
    }
    &:active{
        color: white;
    }
    &:hover + .header__uploadVideo_tooltip{
        visibility: visible;
    }
}


.header__uploadVideo_tooltip{
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.432);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    

    position: absolute;
    z-index: 1;
    top: 125%;
    left: 6%;
    margin-left: -60px;
    
}

.header__logout_tooltip{
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.432);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    

    position: absolute;
    z-index: 1;
    top: 125%;
    left: 75%;
    margin-left: -60px;
    
}

.header__avatar{
    margin-right: 30px;

    &:hover + .header__logout_tooltip{
    visibility: visible;
}
}

@media only screen and (max-width: 800px) {
    .sidebar {
      display: none;
    }
    .header{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        background-size: auto;
    }
    .header__menuIcon{
        justify-content: center;
    }
    .header__logo{
        margin: 3px;
    }
    .header__input{
        width: 100%;
        margin: 2px 5px;
        & > input{
            padding: 0;
            margin: 0;
        }
    }
    .header__loginText{
        white-space: nowrap;
    }
  }
