$YTred: #FF0000;
$light-blue: #0077ef;
$dark-blue: #4040ff;
$off-white: ghostwhite;
$light-grey: #a0a0a0;
$dark-grey: #808080;
$off-black: #111111;
$highlight-grey: #888888;
$very-light-grey: rgb(209, 209, 209);
