.sidebar{
    position: sticky;
    top: 50px;
    border-bottom: 1.5px solid rgb(209, 209, 209);
    height: calc(100vh - 50px);
    background-color: white;

    &.expanded{
      position: sticky;
      width: 250px;
      background-color: white;
      overflow-y: scroll;
    
    &:hover::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar {
        width: 0px;
      }
    &::-webkit-scrollbar-track {
      //box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(148, 148, 148, 0.514); 
    }
    // &::-webkit-scrollbar-thumb:hover {
    //   background: #b30000; 
    // }
    
    }

}

hr{
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  height: .5px;
  border: none;
}

@media only screen and (max-width: 800px) {
    .sidebar {
      display: none;
    }
  }

