
.recommendedVideos{
    background: ghostwhite;
    padding-left: 5px;
    padding-bottom: 0;
    //margin-left: 75px;

    & .recommendedVideos_videos{
        margin: 0px;
        & a{
            color: black;
            & :active{
                transform: scale(.98);
            }
        }
    }
    & .recommendedVideos_videosContainer{
        display: grid;
        grid-template-columns: repeat(4, minMax(200px,22.5vw));
        padding: 20px;
        grid-gap: 20px;
        width: 100%;
        justify-content: center;
    }
}



@media only screen and (max-width: 800px) {
    .recommendedVideos{
        padding: 0;
        & > h2{
            display: none;
        }
        & .recommendedVideos_videosContainer{
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 0;
            & .recommendedVideos_videos{
            margin-top: 0px;
            width: 100%;
            }
            
        }
    }
    
}