.recommendedVideos{
    background: ghostwhite;
    padding: 40px 20px;
    padding-bottom: 0;

    & > h2{
        margin-left: 5px;
        margin-bottom: 20px;
    }

    & .recommendedVideos_videos{
        margin: 10px;
        & a{
            color: black;
            & :active{
                transform: scale(.98);
            }
        }
    }
    & .recommendedVideos_videosContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr) );
        grid-template-rows: repeat(auto-fit, minmax(160px, 1fr) );
        padding: 10px
    }
}



@media only screen and (max-width: 800px) {
    .recommendedVideos{
        padding: 0;
        & > h2{
            display: none;
        }
        & .recommendedVideos_videosContainer{
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 0;
            & .recommendedVideos_videos{
            margin-top: 0px;
            width: 100%;
            }
            
        }
    }
    
}