@import "../../Utils/variables";



.nLoginUi_Background{
    background-color: rgba(128, 128, 128, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    align-content: center;
    transition: top 1s;
    

    &.hide{
        top: 100%
    }
}

.nLoginUi_Container{
    border: 2px solid $off-black;
    border-radius: 10px;
    width: 20%;
    height: 100%;
    background-color: $off-white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: inherit;

    & .nLoginUi_UiContainer{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-height: 200px;
        justify-content: space-evenly;
        & .nLoginUi_username{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border: 0;
            outline: 0;
            background-color: $off-white;
            border-bottom: 1px solid $light-grey;

            &:focus{
                border-bottom: 1px solid $off-black;
            }

        }
        & .nLoginUi_password{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            border: 0;
            outline: 0;
            background-color: $off-white;
            border-bottom: 1px solid $light-grey;

            &:focus{
                border-bottom: 1px solid $off-black;
            }
        }
        & .nLoginUi_submit{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1em;
            border-radius: 10px;
            padding: 3px;
            color: white;
            font-weight: 700;
            letter-spacing: 1px;
            background-color: $YTred ;
            border: 0;
            font-size: .75em;
        }
    }

    & .nLoginUi_createAccount{
        margin: 0;
        text-align: center;
        color: $dark-blue;
        font-size: 10px;
        font-weight: 0;

        &:hover{
            cursor: pointer;
        }
    }

    & .nLoginUi_closeButton{
        position: absolute;
        right: 5px;
        top: 5px;
        float: right;
        color: $light-grey;
        opacity: .3;
        transition: color 1s;
        transition: opacity 1s;


        &:hover{
            cursor: pointer;
            color: $dark-grey;
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 800px) {
    .nLoginUi_Container{
        width: 50%;
        & .nLoginUi_UiContainer{
            & .nLoginUi_submit{
                width: 50%;
            }
        }
    }
}