.video{
    min-width: 100%;
    padding: 0;
    margin: 20px;
    border: 1px solid black;
    min-width: 100%;
    margin-right: 20px;
}

.body{    
    background: ghostwhite;
}


.videoPage{
    margin-left: 74px;
    margin-right: 74px;
    background: ghostwhite;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 4fr 1.5fr;
}
.background{
    background: ghostwhite;
}