.video{
    min-width: 100%;
    padding: 0;
    border: 1px solid black;
    min-width: 100%;
    margin-right: 20px;
}


.videoPage{
    padding: 20px 74px;
    background: ghostwhite;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 4fr 1.5fr;
}
.background{
    background: ghostwhite;
    margin: 0;
}

.videoPage__videoData{

    & > h1{
        font-size: 1.3em;
        font-weight: 500;
    }
}
.videoPage__vidDataContainer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(145, 145, 145);
    margin-top: 10px;
    padding-bottom: 20px;
    & > h1{
        font-size: 1em;
        vertical-align: middle;
        color: rgb(145, 145, 145);
    }
    & > h2{
        display: flex;
        font-size: 1em !important;
        align-items: center;
        color: rgb(145, 145, 145);
        
        &>span{
            margin-right: 30px;
        }
        
        
    }
}


@media only screen and (max-width: 800px) {
    .videoPage__upNext{
        display: none;        
    }
}