@import "../../Utils/variables";

.videoSideBar{
    flex: 1;
    //padding: 40px 20px;
    padding-bottom: 0;
    height: 100vh;
    & .videoSideBar_videosContainer{
        display: grid;
        padding: 10px;
        & > a{
            text-decoration: none;
            color: black;
            &:active{
                transform: scale(.98);
                }
        }
        &.videoSideBar_videos{
            max-width: 500px;
        }
    }
}

.switch{
    background-color: red;
    width: 35px;
    height: 13px;
    border-radius: 34px;
    overflow: visible;
    position: relative;
    & .checkbox{
        position: absolute;
        visibility: hidden;
        :before{
            content: "\00a0";
            height: 30px;
            width: 30px;
            background-color: blue;
            display: inline-block;
        }
        &:focus{
            right: 0;
            left: -10px;
            transition: all 5s;
        }
    }
}
.MuiSwitch-track{
    background-color: rgb(181, 180, 180) !important;
}


@media only screen and (max-width: 1600px) {
    
}






