.videoSideBar{
    flex: 1;
    background: ghostwhite;
    padding: 40px 20px;
    padding-bottom: 0;
    height: 100vh;

    & .videoSideBar__topContainer{
        display: flex;
        justify-content: space-between;
    }

    & > h2{
        margin-left: 5px;
        margin-bottom: 20px;
    }
    
}

.video{
    max-width: 500px;
}

.videoSideBar__videosContainer{
    display: grid;
    padding: 10px;
    
}

